{% extends "base.html" %}
{% import 'macros/form.html' as form_macro with context %}
{% block title %}Simulation{% endblock %}
{% block body %}

{% if model_type_form %}
<p>Select model type </p>
<form method="POST" action="{{ url_for('simulation.model_type') }}">
        {{ model_type_form.hidden_tag() }}
        {% for f in model_type_form.model_type_form if f.widget.input_type != 'hidden' %}
            {{ form_macro.form_builder(f) }}
        {% endfor %}
    </form>
{% endif %}

{% if pop_val_form %}
    <p> {{ model_type }} model with {{ nx }} X variables and {{ ny }} Y
        variables. <p>
    <p>input population generating values </p>
    <form method="POST" action="{{ url_for('simulation.pop_vals') }}">
        {{ pop_val_form.hidden_tag() }}
        <div class="row">
            {% for f in pop_val_form.x_means if f.widget.input_type != 'hidden' %}
                <div class="one-twelvth col">
                    {{ form_macro.form_builder(f) }}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for f in pop_val_form.y_means if f.widget.input_type != 'hidden' %}
                <div class="one-twelvth col">
                    {{ form_macro.form_builder(f) }}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for f in pop_val_form.parms if f.widget.input_type != 'hidden' %}
                <div class="one-twelvth col">
                    {{ form_macro.form_builder(f) }}
                </div>
            {% endfor %}
        </div>
        {{form_macro.form_builder(pop_val_form.submit_pop_vals)}}
    </form>
{% endif %}
{% endblock %}
